<!-- 要套用的模板 -->
{% extends "base.html" %}

<!-- 頁面的標題 -->
{% block title %}--數據分析{% endblock %}

<!-- 頁面的CSS -->
{% block css %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<style>
    #map {
        margin: 10vh auto;
        height: 80vh;
        width: 90vw;
    }

    @media (min-width: 992px) {
        #mainNav {
            border-bottom: 1px solid transparent;
            background: transparent;
        }

        #mainNav .navbar-brand {
            color: black;
        }

        #mainNav .navbar-brand:focus,
        #mainNav .navbar-brand:hover {
            color: rgb(92, 90, 90);
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link {
            color: black;
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link:focus,
        #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
            color: rgb(92, 90, 90);
        }
    }

    /* Chart.js CSS */
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .chart-container {
        /* height: 50%; */
        width: 80%;
        margin: 10vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
{% endblock %}

<!-- 頁面的JS -->
{% block js %}
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

<!-- Chart.js JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

<!-- 頁面的頁首 -->
{% block pageHeader %}
{% endblock %}

<!-- 頁面的內容 -->
{% block main %}

<!-- OpenStreetMap -->
<!-- 建立地圖範圍 -->
<div id="map"></div>
<script>
    //設定圖層群組
    let layerGroup = null;
    let arrLayers = [];

    // 讀取模型計算地址的經緯度
    var house_lon = {{ house_lon | tojson }};
    var house_lat = {{ house_lat | tojson }};

    // 超商的經緯度
    var conveniencestores = {{ conveniencestores | tojson  }}

    // 公園經緯度
    var parks = {{ parks | tojson }}

    // 學校經緯度
    var schools = {{ schools | tojson }}

    // 宮廟經緯度  
    var placeofworkships = {{ placeofworkships | tojson }}
    // 醫院的經緯度，[0]:經度, [1]:緯度
    var h_lon = {{ hospitals['features'][0]['geometry']['coordinates'][0] | tojson}}
    var h_lat = {{ hospitals['features'][0]['geometry']['coordinates'][1] | tojson}}

    // 設定地圖中心與放大比例
    var map = L.map('map', {
        center: [house_lat, house_lon],
        zoom: 15
    });
    // add a tile layer to our map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'BDSE26 © OpenStreetMap'
    }).addTo(map);

    // 建立房子圖示
    var houseIcon = L.icon({
        iconUrl: '../static/imgs/pinkhouse.png',
        iconSize: [50,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 醫院圖示
    var hospitalIcon = L.icon({
        iconUrl: '../static/imgs/hospital.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 便利店圖示
    var convenienceIcon = L.icon({
        iconUrl: '../static/imgs/convenience_store.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 公園圖示
    var parkIcon = L.icon({
        iconUrl: '../static/imgs/park.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 學校圖示
    var schoolIcon = L.icon({
        iconUrl: '../static/imgs/school.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 宮廟圖示
    var templeIcon = L.icon({
        iconUrl: '../static/imgs/temple.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });





    // 模型計算地址的750m範圍
    var circle = L.circle([house_lat, house_lon], {
        stroke: false,
        color: 'red',
        fillColor: '#0037ae',
        fillOpacity: 0.3,
        radius: 750
    }).addTo(map);

    // 顯示模型計算地址的房子圖示
    var house_addr = L.marker([house_lat, house_lon], { icon: houseIcon }).addTo(map);

    // 超商圖資
    for (let c of conveniencestores['features']) {
        // console.log(c['geometry']['coordinates'][0])
        let marker = L.marker([c['geometry']['coordinates'][1], c['geometry']['coordinates'][0]], { icon: convenienceIcon })
            .bindPopup('超商')
        // .openPopup();

        //將 markers 各別放到空陣列 arrLayers 當中
        arrLayers.push(marker);

    }
    //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
    layerGroup = L.layerGroup(arrLayers);

    //將 layerGroup 放到 map 當中
    layerGroup.addTo(map);

    // 公園圖資
    for (let p of parks['features']) {
        // console.log(c['geometry']['coordinates'][0])
        let marker = L.marker([p['geometry']['coordinates'][1], p['geometry']['coordinates'][0]], { icon: parkIcon })
            .bindPopup('公園')
        // .openPopup();

        //將 markers 各別放到空陣列 arrLayers 當中
        arrLayers.push(marker);

    }
    //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
    layerGroup = L.layerGroup(arrLayers);

    // 學校圖資
    for (let s of schools['features']) {
        // console.log(c['geometry']['coordinates'][0])
        let marker = L.marker([s['geometry']['coordinates'][1], s['geometry']['coordinates'][0]], { icon: schoolIcon })
            .bindPopup('學校')
        // .openPopup();

        //將 markers 各別放到空陣列 arrLayers 當中
        arrLayers.push(marker);

    }
    //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
    layerGroup = L.layerGroup(arrLayers);

    // 宮廟圖資
    for (let pw of placeofworkships['features']) {
        // console.log(c['geometry']['coordinates'][0])
        let marker = L.marker([pw['geometry']['coordinates'][1], pw['geometry']['coordinates'][0]], { icon: templeIcon })
            .bindPopup('宮廟')
        // .openPopup();

        //將 markers 各別放到空陣列 arrLayers 當中
        arrLayers.push(marker);

    }
    //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
    layerGroup = L.layerGroup(arrLayers);



    //將 layerGroup 放到 map 當中
    layerGroup.addTo(map);

    // 顯示醫院地址的房子圖示
    var hospitals = L.marker([h_lat, h_lon], { icon: hospitalIcon }).addTo(map);



    // 圖層
    // var baselayers = {
    //     'OpenStreetMap.Mapnik': L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.DE': L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.CH': L.tileLayer('https://tile.osm.ch/switzerland/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.France': L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.HOT': L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.BZH': L.tileLayer('https://tile.openstreetmap.bzh/br/{z}/{x}/{y}.png'),
    //     'OpenTopoMap': L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png')
    // };
    // var overlays = {};
    // L.control.layers(baselayers, overlays).addTo(map);
    // baselayers['OpenStreetMap.Mapnik'].addTo(map);
    // L.tileLayer('layer 的 url').addTo(map);
</script>

<!-- 圖表區 -->
<div class="container">
    <!-- 預設圖表字體 -->
    <script>Chart.defaults.font.size = 18;</script>

    <!-- 長條圖：周邊設施數量統計 -->
    <div class="chart-container">
        <canvas id="barChart"></canvas>
        <script>
            // 交通運輸設施：tsp_count['total']
            // 醫療設施：mdc_count['total']
            // 超商：eco_count['conveniencestores']
            // 學校：edu_count['schools'] + edu_count['universities']
            // 宮廟：sft_count['placeofworkships']
            // 公園：env_count['parks']
            eco_count = {{ eco_count | tojson }}
            tsp_count = {{ tsp_count | tojson }}
            mdc_count = {{ mdc_count | tojson }}
            eco_count = {{ eco_count | tojson }}
            edu_count = {{ edu_count | tojson }}
            sft_count = {{ sft_count | tojson }}
            env_count = {{ env_count | tojson }}

            const bar_labels = [
                '交通運輸設施',
                '大型醫院',
                '超商',
                '學校',
                '宮廟',
                '公園',
            ];

            const bar_data = {
                labels: bar_labels,
                datasets: [{
                    label: '周邊設施',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                    ],
                    borderWidth: 3,
                    data: [
                        // tsp_count['total'],
                        // mdc_count['total'],
                        // eco_count['conveniencestores'],
                        // edu_count['schools'] + edu_count['universities'],
                        // sft_count['placeofworkships'],
                        // env_count['parks']
                        {{tsp_count['MRTs']}},
                        {{mdc_count['hospitals']}},
                        {{eco_count['conveniencestores']}},
                        {{edu_count['schools']}},
                        {{sft_count['placeofworkships']}},
                        {{env_count['parks']}}
                    ],
                }]
            };

            const bar_config = {
                type: 'bar',
                data: bar_data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '周邊設施數量統計',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },
                    }
                },
            };
        </script>
        <script>
            const barChart = new Chart(
                document.getElementById('barChart'),
                bar_config
            );
        </script>
    </div>

    <!-- 折線圖：歷史成交價格 -->
    <div class="chart-container">
        <canvas id="line_history_Chart"></canvas>
        <script>
            // 估價行政區歷史成交價格
            history_price = {{ history_price | tojson }};

            const line_history_labels = ['101年', '102年', '103年', '104年', '105年', '106年', '107年', '108年', '109年', '110年',];

            const line_history_data = {
                labels: line_history_labels,
                datasets: [{
                    label: '行政區歷史成交價格',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: history_price,
                    tension: 0.1
                }]
            };

            const line_history_config = {
                type: 'line',
                data: line_history_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 5
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '行政區歷史成交價格',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },

                    }
                }
            };


        </script>

        <script>
            const line_history_Chart = new Chart(
                document.getElementById('line_history_Chart'),
                line_history_config
            );
        </script>

    </div>

    <!-- 雷達圖： -->
    <div class="chart-container">
        <canvas id="radarChart" width="400" height="400"></canvas>
        <script>
            house_six_ind = {{ house_six_ind | tojson }};
            dist_six_ind = {{ dist_six_ind | tojson }};
            const radar_labels = [
                '醫療設施',
                '經濟指標',
                '教育資源',
                '公共安全',
                '自然環境',
                '交通運輸',
            ];
            const radar_data = {
                labels: radar_labels,
                datasets: [{
                    label: '輸入地址綜和指標',
                    data: house_six_ind,
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }, {
                    label: '行政區綜合指標',
                    data: dist_six_ind,
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgb(54, 162, 235)',
                    pointBackgroundColor: 'rgb(54, 162, 235)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                }]
            };

            const radar_config = {
                type: 'radar',
                data: radar_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '區域指標雷達圖',
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        }
                    }
                },
            };

        </script>

        <script>
            const radarChart = new Chart(
                document.getElementById('radarChart'),
                radar_config
            );
        </script>

    </div>


</div>
{% endblock %}