<!-- 要套用的模板 -->
{% extends "base.html" %}

<!-- 頁面的標題 -->
{% block title %}--首頁{% endblock %}

<!-- 頁面的CSS -->
{% block css %}
{% endblock %}

<!-- 頁面的JS -->
{% block js %}
{% endblock %}

<!-- 頁面的頁首 -->
{% block pageHeader %}
<header class="masthead" style="background-image: url('../static/imgs/house_cover.jfif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>房屋估價系統</h1>
                    <span class="subheading">以數據與模型估算台北市、新北市和基隆市房價區間</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- 頁面的內容 -->
{% block main %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 ">
                <h2 class="section-heading" style="text-align: center;">好房GoodJob！估價你的好房！</h2>
                <p>
                    我們是 BDSE26 第二組，好房 GoodJob！是我們研究『房地產標的估價』主題所做出的專案，以實務網頁為目標，提供完整結合『估價』以及『標的周遭環境分析』2 點的分析服務。
                </p>
                <p>
                    收集過往房地產標的實價成交案例、以及醫療、經濟、教育、公共安全、自然環境、交通運輸設施等生活機能設施資料，結合環域分析以及機器/深度學習手法，建立估價模型。
                </p>
                <p>
                    估價結果將以地圖 + 圖表連動的形式呈現，透過地圖顯示估價標的物周遭環境，並以圖表輔助用更簡單易懂的形式呈現統計結果。
                </p>
                <p>
                    若有任何問題，歡迎至好房 GoodJob！的<a
                        href="https://github.com/shjl2012/HousePrice_Prediction/issues">GitHub</a>，透過issue功能留下訊息，我們會盡快回覆，謝謝！<br>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}