<!-- 要套用的模板 -->
{% extends "base.html" %}

<!-- 頁面的標題 -->
{% block title %}TEAM 2{% endblock %}

<!-- 頁面的CSS -->
{% block css %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<style>
    #map {
        margin: 7vh auto;
        height: 80vh;
        width: 90vw;
    }

    /* Nav CSS */
    #mainNav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
        border-bottom: 1px solid #dee2e6;
        background-color: #fff;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    #mainNav .navbar-brand {
        font-weight: 800;
    }

    #mainNav .navbar-toggler {
        font-size: 0.75rem;
        font-weight: 800;
        padding: 0.75rem;
        text-transform: uppercase;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
    }

    @media (min-width: 992px) {
        #mainNav {
            border-bottom: 1px solid transparent;
            background: transparent;
        }

        #mainNav .navbar-brand {
            color: black;
        }

        #mainNav .navbar-brand:focus,
        #mainNav .navbar-brand:hover {
            color: rgba(255, 255, 255, 0.8);
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link {
            color: black;
        }

        #mainNav .navbar-nav>li.nav-item>a.nav-link:focus,
        #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    @media (min-width: 992px) {
        #mainNav {
            transition: background-color 0.2s;
            /* Force Hardware Acceleration in WebKit */
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        #mainNav.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -83px;
            transition: transform 0.2s;
            border-bottom: 1px solid white;
            background-color: rgba(255, 255, 255, 0.9);
        }

        #mainNav.is-fixed .navbar-brand {
            color: #212529;
        }

        #mainNav.is-fixed .navbar-brand:focus,
        #mainNav.is-fixed .navbar-brand:hover {
            color: #0085A1;
        }

        #mainNav.is-fixed .navbar-nav>li.nav-item>a {
            color: #212529;
        }

        #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
        #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
            color: #0085A1;
        }

        #mainNav.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            transform: translate3d(0, 100%, 0);
        }
    }

    /* Chart.js CSS */
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .chart-container {
        width: 500px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
{% endblock %}

<!-- 頁面的JS -->
{% block js %}
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

<!-- Chart.js JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

<!-- 頁面的頁首 -->
{% block pageHeader %}
{% endblock %}

<!-- 頁面的內容 -->
{% block main %}
<!-- OpenStreetMap -->

<div>輸入點:( {{house_lon}}, {{house_lat}} )</div>
<!-- [0]:經度, [1]:緯度 -->
<div>醫院:( {{hospital['features'][0]['geometry']['coordinates'][0]}},
    {{hospital['features'][0]['geometry']['coordinates'][1]}} )</div>
{{conveniencestore['features'][0]['properties']['名稱']}}

<!-- 建立地圖範圍 -->
<div id="map"></div>
<script>
    //設定圖層群組
    let layerGroup = null;
    let arrLayers = [];

    // 讀取模型計算地址的經緯度
    var house_lon = {{ house_lon | tojson }};
    var house_lat = {{ house_lat | tojson }};

    // 醫院的經緯度
    var h_lon = {{ hospital['features'][0]['geometry']['coordinates'][0] | tojson}}
    var h_lat = {{ hospital['features'][0]['geometry']['coordinates'][1] | tojson}}

    // 超商的經緯度
    var conveniencestores = {{ conveniencestore | tojson  }}


    // 設定地圖中心與放大比例
    var map = L.map('map', {
        center: [house_lat, house_lon],
        zoom: 15
    });
    // add a tile layer to our map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'BDSE26 © OpenStreetMap'
    }).addTo(map);

    // 建立房子圖示
    var houseIcon = L.icon({
        iconUrl: '../static/imgs/pinkhouse.png',
        iconSize: [40,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
     // 醫院圖示
     var hospitalIcon = L.icon({
    iconUrl: '../static/imgs/hospital.png',
    iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });
    // 便利店圖示
    var convenienceIcon = L.icon({
        iconUrl: '../static/imgs/convenience_store.png',
        iconSize: [30,], // size of the icon
        // iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
    });


    // 模型計算地址的750m範圍
    var circle = L.circle([house_lat, house_lon], {
        stroke: false,
        color: 'red',
        fillColor: '#0037ae',
        fillOpacity: 0.3,
        radius: 750
    }).addTo(map);

    // 顯示模型計算地址的房子圖示
    var house_addr = L.marker([house_lat, house_lon], { icon: houseIcon }).addTo(map);

    // 超商圖資
    for (let c of conveniencestores['features']) {
        // console.log(c['geometry']['coordinates'][0])
         let marker = L.marker([c['geometry']['coordinates'][1], c['geometry']['coordinates'][0]], { icon: convenienceIcon })
            .bindPopup('超商')
        // .openPopup();

        //將 markers 各別放到空陣列 arrLayers 當中
        arrLayers.push(marker);

    }
    //迴圈執行完畢後，將 arrLayers 放到 layerGroup 當中
    layerGroup = L.layerGroup(arrLayers);

    //將 layerGroup 放到 map 當中
    layerGroup.addTo(map);



    // 顯示醫院地址的房子圖示
    var hospitals = L.marker([h_lat, h_lon], { icon: hospitalIcon }).addTo(map);


    // 圖層
    // var baselayers = {
    //     'OpenStreetMap.Mapnik': L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.DE': L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.CH': L.tileLayer('https://tile.osm.ch/switzerland/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.France': L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.HOT': L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'),
    //     'OpenStreetMap.BZH': L.tileLayer('https://tile.openstreetmap.bzh/br/{z}/{x}/{y}.png'),
    //     'OpenTopoMap': L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png')
    // };
    // var overlays = {};
    // L.control.layers(baselayers, overlays).addTo(map);
    // baselayers['OpenStreetMap.Mapnik'].addTo(map);
    // L.tileLayer('layer 的 url').addTo(map);
</script>

<!-- 圖表區 -->
<div class="container">
    <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
        <canvas id="barChart" width="500" height="250" style="display: block; width: 500px; height: 250px;"></canvas>
        <script>
            const bar_labels = [
                '交通運輸設施',
                '醫療設施',
                '速食店',
                '文教機構',
                '宮廟',
                '公園',
            ];

            const bar_data = {
                labels: bar_labels,
                datasets: [{
                    label: '周邊設施',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                    ],
                    borderWidth: 1,
                    data: [{{tsp_count['MRTs']}},
                    {{mdc_count['hospitals']}},
                    {{eco_count['conveniencestores']}},
                    {{edu_count['schools']}},
                    {{sft_count['placeofworkships']}},
                    {{env_count['parks']}}],

                }]
            };

            const bar_config = {
                type: 'bar',
                data: bar_data,
                options: {
                    // scales: {
                    //     y: {
                    //         beginAtZero: true
                    //     }
                }
            }
        console.log({{tsp_count['MRTs']}})
        </script>
        <script>
            const barChart = new Chart(
                document.getElementById('barChart'),
                bar_config
            );
        </script>
    </div>
    <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
        <canvas id="line_accuracy_Chart" width="500" height="250"
            style="display: block; width: 500px; height: 250px;"></canvas>
        <script>
            const line_accuracy_labels = [
                '-3',
                '-2',
                '0',
                '1',
                '2',
                '3',
            ];

            const line_accuracy_data = {
                labels: line_accuracy_labels,
                datasets: [{
                    label: '模型準確度',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 2, 15, 0, 20, 30, 45, 30, 20, 15, 5, 0],
                    tension: 0.1
                    //tension 線圖張力
                }]
            };

            const line_accuracy_config = {
                type: 'line',
                data: line_accuracy_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                },
            };

        </script>
        <script>
            const line_accuracy_Chart = new Chart(
                document.getElementById('line_accuracy_Chart'),
                line_accuracy_config
            );
        </script>
    </div>
    <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
        <canvas id="radarChart" width="500" height="250" style="display: block; width: 500px; height: 250px;"></canvas>
        <script>
            const radar_labels = [
                '醫療設施',
                '經濟指標',
                '教育資源',
                '公共安全',
                '自然環境',
                '交通運輸',
            ];
                // 
            const radar_data = {
                labels: radar_labels,
                datasets: [{
                    label: '該位置綜和指標',
                    data: {{ values }}, 
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }, {
                    label: '該區域綜合指標',
                    data: {{values2}},
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgb(54, 162, 235)',
                    pointBackgroundColor: 'rgb(54, 162, 235)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(54, 162, 235)'
                }]
            };

            const radar_config = {
                type: 'radar',
                data: radar_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                },
            };

        </script>
        <script>
            const radarChart = new Chart(
                document.getElementById('radarChart'),
                radar_config
            );
        </script>
    </div>
    <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
        <canvas id="line_history_Chart" width="500" height="250"
            style="display: block; width: 500px; height: 250px;"></canvas>
        <script>
            const inputs = {
                min: 0,
                max: 100,
                count: 10,
                decimals: 2,
                continuity: 1
            };
            const line_history_labels = [
                '101年',
                '102年',
                '103年',
                '104年',
                '105年',
                '106年',
                '107年',
                '108年',
                '109年',
                '110年',
            ];

            const line_history_data = {
                labels: line_history_labels,
                datasets: [{
                    label: '該位置歷史成交價格',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45, 0, 0, 15],
                }]
            };

            const line_history_config = {
                type: 'line',
                data: line_history_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                },
            };

        </script>
        <script>
            const line_history_Chart = new Chart(
                document.getElementById('line_history_Chart'),
                line_history_config
            );
        </script>
    </div>
    <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
        <canvas id="doughnutChart" width="1000" height="500"
            style="display: block; height: 250px; width: 500px;"></canvas>
        <script>
            const doughnut_labels = [
                '高中含以下',
                '學士',
                '碩士/博士',
            ];

            const doughnut_data = {
                labels: doughnut_labels,
                datasets: [{
                    label: [
                        '高中含以下',
                        '學士',
                        '碩士/博士',
                    ],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    data: [20, 70, 10],
                }]
            };

            const doughnut_config = {
                type: 'doughnut',
                data: doughnut_data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                },
            };

        </script>
        <script>
            const doughnutChart = new Chart(
                document.getElementById('doughnutChart'),
                doughnut_config
            );
        </script>

    </div>
</div>
{% endblock %}