<!-- 要套用的模板 -->
{% extends "base.html" %}

<!-- 頁面的標題 -->
{% block title %}--首頁{% endblock %}

<!-- 頁面的CSS -->
{% block css %}
{% endblock %}

<!-- 頁面的JS -->
{% block js %}
{% endblock %}

<!-- 頁面的頁首 -->
{% block pageHeader %}
<header class="masthead" style="background-image: url('../static/imgs/house_cover.jfif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>房屋估價系統</h1>
                    <span class="subheading">以數據與模型預估台北市、新北市和基隆市房價區間</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- 頁面的內容 -->
{% block main %}
<!-- <h3 style="color: red;">*****未完成：專案簡介與操作說明*****</h3> -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 ">
                <h2 class="section-heading">主題介紹</h2>
                <p>
                    <li>綜合收集影響房屋本身以及周邊環境資料，運用環域分析 (GIS) 以及機器學習手法
                        綜合推估房價。</li>
                    <li>用地圖介面提供房屋周遭環境資訊，例如交通、醫療設施，以及商業設施，
                        讓使用者能夠更直覺的評估房屋地點周遭環境。</li>
                </p>

                <h2 class="section-heading">實作歷程</h2>
                <p>
                <h4>資料挖掘/清理：</h4>
                <ol>
                    <li>從實價登錄、政府開放資料、OSM (Open Street Map) 取得六大指標資料 (醫療設施、經濟指標、教育資源、公共安全、自然環境、交通運輸)。</li>
                    <li>排除低相關/缺失/不良資料 (ex特殊交易型態、住家用以外用途建物、etc.)。</li>
                    <li>地址 -> 平面空間座標轉換 (環域分析用)。</li>
                </ol>
                </p>

                <p>
                <h4>數據分析處理：</h4>
                <ol>
                    <li>選用類神經網路、隨機森林、以及類神經網路混合隨機森林模型進行迴歸分析。</li>
                    <li>利用Hadoop+Spark加速模型運算、環域分析處理。</li>
                </ol>
                </p>

                <p>
                <h4>資料視覺化：</h4>
                <ol>
                    <li>使用Flask搭配Bootstrap框架、並導入chart.js、leaflet 等視覺化函式庫。</li>
                    <li>使用Heroku雲端主機免費版代管網站。</li>
                </ol>
                </p>


                <h2 class="section-heading">價值分析</h2>
                <p>
                <h4>房屋價格估計準確度：</h4>
                <ul>
                    <li>估計房價在實際房價±10%區間的約62%。</li>
                    <li>估計房價在實際房價±20%區間的約89%。</li>
                </ul>
                </p>

            </div>
        </div>
    </div>
</article>
{% endblock %}