<!-- 要套用的模板 -->
{% extends "base.html" %}

<!-- 頁面的標題 -->
{% block title %}--組員介紹{% endblock %}

<!-- 頁面的CSS -->
{% block css %}
<!-- <link href="../static/teamStyles.css" rel="stylesheet" /> -->

<style>
    body {
        font-size: 1.5rem;
    }

    .page-section {
        padding: 6rem 0;
    }

    .team-member {
        margin-bottom: 4rem;
        text-align: center;
    }

    .team-member h2,
    .team-member .h2 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}

<!-- 頁面的JS -->
{% block js %}

{% endblock %}

<!-- 頁面的頁首 -->
{% block pageHeader %}
<header class="masthead" style="background-image: url('../static/imgs/team.jfif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>組員介紹</h1>
                    <span class="subheading">資展國際 - Big Data 巨量資料分析就業養成班</span>
                    <!-- containerh -->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- 頁面的內容 -->
{% block main %}
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="row">
            <!-- 組員 1 -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/imgs/photos/BDSE26_05.jpg" alt="..." />
                    <h2>林尚諠</h2>
                    <p class="text-muted">整體專案管理<br>數據平台架設<br>專案部署包建置</p>
                </div>
            </div>
            <!-- 組員 2 -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/imgs/photos/BDSE26_04.jpg" alt="..." />
                    <h2>李旺親</h2>
                    <p class="text-muted">資料收集處理<br>前端視覺化</p>
                </div>
            </div>
            <!-- 組員 3 -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/imgs/photos/BDSE26_02.jpg" alt="..." />
                    <h2>吳欣哲</h2>
                    <p class="text-muted">資料收集處理<br>環域分析<br>模型建置</p>
                </div>
            </div>
            <!-- 組員 4 -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/imgs/photos/BDSE26_11.jpg" alt="..." />
                    <h2>鄒季翃</h2>
                    <p class="text-muted">模型建置<br>資料分析</p>
                </div>
            </div>
            <!-- 組員 5 -->
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/imgs/photos/BDSE26_03.jpg" alt="..." />
                    <h2>李祉翰</h2>
                    <p class="text-muted">資料收集處理<br>前端視覺化</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}